{% extends 'base_template.html' %}
{% block page_title %}
Ajouter Etudiant
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Ajouter Etudiant</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
      <form method="post" role="form" enctype="multipart/form-data" action="import_etudiant_save">
      {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                               <div class="form-group">
                     <label>Promotion</label>
                          <select class="form-control" name="classe">
                        {% for classe in classes %}
                          <option value="{{ classe.id }}">{{ classe.classe_nom|title}} {{classe.departement_select.titre|title}}
                         
                        </option>
                        {% endfor %}
                    </select>
                </div>

               <div class="form-group">
                        <label>Importer feuille excel</label>
                         <input type="file" class="form-control" multiple name="myfile">
                </div>
                
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          </div>
      </div>

      <!-- /.social-auth-links -->

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
{% endblock custom_js %}